body {
  min-width: 1200px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: normal;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-color: #849d8f;
}
.promo-title {
  font-size: 35px;
  line-height: 42px;
  color: #ffffff;
  font-weight: bold;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.content-title {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
  font-weight: bold;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-bottom: 30px;
  width: 1146px;
}
.content-font {
  text-align: left;
  font-size: 35px;
  line-height: 35px;
  color: #ffffff;
  font-weight: bold;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-navigation {
  float: left;
  width: 723px;
  min-height: 70px;
}
.next-go {
  float: left;
  width: 165px;
}
.uzer {
  float: left;
  width: 267px;
}
.user-block {
  width: 93px;
}
.basket-block {
  float: right;
  width: 118px;
}
.top-menu {
  margin: 0;
  padding: 0;
}
.top-menu li {
  float: left;
  list-style: none;
  padding: 27px 17px;
}
.submenu {
  display: none;
}
.slide-2 {
  display: none;
}
.slide-3 {
  display: none;
}
.popup {
  display: none;
}
.promolist {
  width: 1146px;
  margin-left: 27px;
  margin-right: 27px;
}
.promo-left {
  float: left;
  width: 560px;
  min-height: 230px;
  margin-right: 26px;
}
.promo-right {
  float: right;
  width: 560px;
  min-height: 230px;
}
.shop-title {
  float: left;
  width: 1100px;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.new-mail {
  margin-bottom: 40px;
}
.new-block {
  float: left;
  width: 560px;
}
.mail-block {
  float: right;
  width: 540px;
}
.new-title {
  float: left;
}
.connection-box {
  display: none;
}
.contact {
  width: 304px;
}
.main-footer {
  padding-top: 36px;
  padding-bottom: 29px;
}
.footer-social {
  float: left;
  width: 267px;
  min-height: 104px;
  margin-left: 27px;
}
.footer-navigation {
  float: left;
  width: 330px;
  min-height: 104px;
}
.footer-copyright {
  float: right;
  width: 190px;
  min-height: 104px;
  margin-right: 27px;
}
.breadcrumbs {
  width: 1146px;
  padding: 0;
  margin-bottom: 10px;
}
.breadcrumbs li {
  float: left;
  margin-right: 40px;
}
.good-list {
  
  font-size: 0px;
}
.good {
  display: inline-block;
  vertical-align: top;
  width: 267px;
  margin-right: 26px;
  font-size: 14px;
  margin-bottom: 40px;
  height: 330px;
}
.goods {
  text-align: center;
  margin-bottom: 40px;
}
.good:nth-child(4n) {
  margin-right: 0;
}
.paginator {
  text-align: right;
  margin-bottom: 40px;
  font-size: 16px;
}
.paginator li {
  display: inline-block;
  margin-right: 40px;
}
.checkbox-list {
  float: left;
  width: 1146px;
  min-height: 30px;
  margin-bottom: 60px;
}
.checkbox-list li {
  float: left;
  margin-right: 8px;
}
.red-btn-big {
  margin-bottom: 40px;
}
.sorting {
  float: left;
  width: 194px;
  margin-right: 15px;
}
.price-filter {
  float: left;
  width: 220px;
  margin-right: 15px;
}
.fat {
  float: left;
  width: 415px;
  margin-right: 0px;
}
.filter {
  width: 860px;
}
.filler {
  width: 705px;
}
.slide-next {
  position: relative;
  text-align: center;
}
.content-title {
  position: absolute;
  width: 700px;
  height: 110px;
  top: 390px;
  left: 550px;
}
.uzer-list {
  display: inline-block;
  vertical-align: top;
}
.block-list {
  display: inline-block;
  vertical-align: top;
  width: 484px;
  margin-left: 77px;
  margin-right: 22px;
  font-size: 16px;
  margin-bottom: 30px;
}
.map {
  text-align:center;
}
